@model PostViewModel
<div class="post d-flex align-items-stretch justify-content-center flex-column my-4 p-3">
    <div class="head d-flex align-items-center justify-content-between w-100">
            <div class="left">
            <a class="d-flex align-items-center justify-content-strat" asp-area="User" asp-controller="Users" asp-action="Profile" asp-route-UserId="@(Model.IsCurrentUser ? null : Model.UserId)">
                <div class="img me-2">
                    @if (Model.HavePicture)
                    {
                        <img src="~/Files/Images/@Model.UserProfilePictureUrl" alt="User Picture" />
                    }
                    else
                    {
                        <div class="content  text-uppercase">@Model.UserProfilePictureUrl</div>
                    }
                </div>
                <div class="text">
                    <div class="name text-capitalize">@Model.UserName</div>
                    @if (Model.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss") == Model.UpdatedAt.ToString("yyyy-MM-dd HH:mm:ss"))
                    {
                        <div class="date">
                            <span>Created @Model.CreatedAt</span>
                        </div>
                    }
                    else
                    {
                        <div class="date">
                            <span>Updated @Model.UpdatedAt </span>
                        </div>
                    }
                </div>
                </a>
                </div>
            <div class="right text-capitalize d-flex flex-column  justify-content-center align-items-center">
            <div class="category">@Model.CategoryName</div>
                <div class="btns">
                @if (Model.IsCurrentUser)
                {
                    <a id="delete" class="delete me-2" data-id="@Model.PostId"><i class="fa-regular fa-trash-can"></i></a>
                    <a id="edit-post" class="edit-post" data-id="@Model.PostId"><i class="fa-regular fa-pen-to-square"></i></a>
                }else{
                    <a id="report" class="report" data-id="@Model.PostId"><i class="fa-regular fa-flag"></i></a>
                }
                </div>
            </div>
    </div>
    <div class="body w-100 my-3  d-flex align-items-center justify-content-start text-start">
        <p>@Model.Content</p>
    </div>
    <div class="foot d-flex align-items-center justify-content-between w-100">
        <div class="likes d-flex align-items-center justify-content-center">
            <div class="icon me-2">
                <a href="#" class="like @Model.PostId" data-id="@Model.PostId">
                    <i class="fa-heart @(Model.IsLiked ? "fas text-danger" : "far")"></i>
                </a>
            </div>
            <div class="Number">
                <a href="#" class="view-likes" data-id="@Model.PostId">
                    <span id="like-count-@Model.PostId">@Model.LikeCount</span>
                </a>
            </div>
        </div>
        <div class="comments d-flex align-items-center justify-content-center">
            <div class="icon me-2">
                <a href="#" class="comment @Model.PostId" data-id="@Model.PostId">
                    <i class="fa-regular fa-comment"></i>
                </a>
            </div>
            <div class="Number">
                <a href="#" class="show-comments" data-id="@Model.PostId">
                    <span id="Comment-count-@Model.PostId">@Model.CommentCount</span>
                </a>
            </div>
        </div>
    </div>
</div> 